@use "modulo.scss";
@use "modulo2.scss";

div{
    border: 1px solid modulo.$colorred;

    h1{
        color: modulo.$colorgreen;
        text-decoration: underline 1px modulo.$colorblue;
        text-align: center;
        }
    

    section{
            display: flex;
            justify-content: space-around; 
            margin-left: remconverter(20);
            margin-right: remconverter(20); 


            article{
                border: 1px solid modulo.$colorgreen;
            }
       

                    p{
                    text-align: center;
                    }
            }        
    }      
      
.p-blue{
    color: modulo.$colorblue;
       }

.p-red{
    color: modulo.$colorred;
      }

.footer{
    color: modulo.$colorgreen;
    border: 1px solid modulo.$colorblue;
    font-size: remconverter(24);
    margin-bottom: remconverter(20);
    margin-top: remconverter(20);
    width: remconverter(1400)
       }