@mixin article-card($color:blue, $border-color:green, $font-size: 1rem) {
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
    
    }

div{
    border: 1px solid red;
    

    section{
            display: flex;
            justify-content: space-around; 
            margin-left: 20px;
            margin-right: 20px; 
       

                p{
                text-align: center;
                }

                h1{
                color: green;
                text-decoration: underline 1px blue;
                text-align: center;
                }
            }        
    }      
      
.p-blue{
    @include article-card($color: blue);
       }

.p-red{
    @include article-card($color: red);
      }

.footer{
    @include article-card($color: green, $border-color: blue, $font-size: 24px );
    margin-bottom: 20px;
    margin-top: 20px;
    width:1400px
       }